# Python
__pycache__/
*.pyc
*.pyo
.env

# Model file (too large for git)
model/fraud_model.pkl

# Docker volumes
grafana_data/

# Virtual environments
venv/
.venv/

ScreenShots/

minikube-linux-amd64
kubectl